.heading1{
  font-family: 'Bellefair', serif;
  font-size: 150px;
  color:#fff;
}
.heading2{
  font-family: 'Bellefair', serif;
  font-size: 100px;
  color:#ffffff;
}
.heading3{
  font-family: 'Bellefair', serif;
  font-size: 56px;
  color:#ffffff;
}
.heading4{
  font-family: 'Bellefair', serif;
  font-size: 32px;
  color:#ffffff;
}
.heading5{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
}

@media screen and (max-width: 576px){
  .heading1{
    font-size: 80px;
  }
  .heading2{
    font-size: 60px;
  }
  .heading3{
    font-size: 30px;
  }
  .heading4{
    font-size: 20px;
  }
  .heading5{
    font-size: 18px;
  }
}